<div class="container">
  <h2>Examen Servicios REST </h2>
  <p>La siguiente tabla muestra los resultados de la petición get:</p>
  <a routerLink="/formulario">Agregar nuevo</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre completo</th>
        <th>Usuario</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.Nombre + ' ' + cliente.Apellidos }}</td>
        <td>{{ cliente.Nombre_Usuario }}</td>
        <td>{{ cliente.Correo_Electronico }}</td>
      </tr>
    </tbody>
  </table>

</div>